# Database
DATABASE_URL=postgresql://postgres:your_password_here@localhost:5432/cinema_db

# DeepSeek API (для AI рекомендаций)
DEEPSEEK_API_KEY=sk-13008908463341d99e453521659e99bd

# Kinopoisk API
KINOPOISK_API_KEY=5e8a9a31-4794-4e1f-9746-45f7c8345199
